---
import CommisionForm from "../../components/Commission/CommisionForm.tsx";
import Layout from "../../layouts/Layout.astro";
---


<Layout>
  <script is:inline src="https://unpkg.com/htmx.org@1.9.12" slot="head"></script>

  <div class="font-sans mx-auto max-w-[96rem] px-5 lg:px-10 space-y-10 py-20 pb-4">
    <!-- <CommisionForm client:load /> -->
    <form class="grid gap-4">
      <p class="text-white font-bold text-2xl">Contact</p>

      <label>
        <p>Platform: <span class="text-red-400">*</span></p>

        <select name="platform" class="py-2 px-2 bg-transparent rounded border-2 border-midnight-light" value="Email">
          <option class="bg-midnight-light" value="Email">Email</option>
          <option class="bg-midnight-light" value="Discord">Discord</option>
        </select>
      </label>

      <label>
        <p>%Platform%: <span class="text-red-400">*</span></p>
        <input name="contactname" type="text" value="PlaceHolder" />
      </label>
    </form>
  </div>
</Layout>

<style>
  label {
    display: flex;
    flex-direction: column;
    color: white;
  }

  input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: var(--col-midnight-light);
  }
</style>
