---
import If from '../ControlFlow/If.astro';

interface Props {
  href?: string,
  theme: "primary" | "secondary" | "line" | "transparent",
  disabled?: boolean
}

const { href, theme, disabled } = Astro.props;
---

<If when={href && !disabled}>
  <a href={href} class={`${theme} grid items-center shadow-lg text-center font-bold rounded-2xl h-14 text-2xl duration-300`}>
    <slot/>
  </a>
</If>
<If when={!href || disabled}>
  <button {disabled} class={`${theme} shadow-lg font-bold rounded-2xl h-14 text-2xl duration-300`}>
    <slot/>
  </button>
</If>

<style>
  .primary {
    background-color: var(--ria-button-primary-color);
  }

  .primary:hover {
    background-color: var(--ria-button-primary-hover-color);
  }

  .primary:disabled {
    color: gray;
    background-color: var(--ria-button-primary-disabled-color);
  }

  .secondary {
    background-color: var(--ria-button-secondary-color);
  }

  .secondary:hover {
    background-color: var(--ria-button-secondary-hover-color);
  }

  .secondary:disabled {
    background-color: var(--ria-button-secondary-disabled-color);
  }

  .line {
    border: 4px solid var(--ria-button-outline-color);
  }

  .line:hover {
    border: 4px solid var(--ria-button-outline-hover-color);
  }

  .line:disabled {
    border: 4px solid var(--ria-button-outline-disabled-color);   
  }
</style>

<style is:global>
  * {
    --ria-text-disabled-color: rgb(62, 62, 80);

    --ria-button-primary-color: rgb(85, 104, 129);
    --ria-button-primary-hover-color: rgb(143, 161, 185);
    --ria-button-primary-disabled-color: rgb(66, 66, 88);
    --ria-button-secondary-color: rgb(71 85 105);
    --ria-button-secondary-hover-color: rgb(148 163 184);
    --ria-button-secondary-disabled-color: rgb(68, 68, 85);
    --ria-button-outline-color: rgb(85, 104, 129);
    --ria-button-outline-hover-color: rgb(143, 161, 185);
    --ria-button-outline-disabled-color: rgb(70, 76, 94);
  }
</style>