---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/Blog/BlogPost.astro";

const posts = await Astro.glob('../posts/*.md');
---

<Layout>
  <main class="flex justify-center">
    <ul class="text-white px-4 py-8 max-w-[80rem] mx-auto gap-3 space-y-12">
      {
        posts.reverse().map(x => 
        <li class="list-none">
          <BlogPost date={x.frontmatter.date} title={x.frontmatter.title} description={x.frontmatter.description} url={x.url}/>
        </li>
        )
      }
    </ul>
  </main>


</Layout>
