---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/Blog/BlogPost.astro";

const posts = await Astro.glob('../posts/*.md');
---

<Layout>
<div class="text-white flex flex-col items-center mt-40 mr-8 ml-8 md:mr-32 md:ml-32 gap-3">
  {
    posts.reverse().map(x => <BlogPost date={x.frontmatter.date} title={x.frontmatter.title} description={x.frontmatter.description} url={x.url}/>)
  }
</div>

</Layout>
