---
import Image from "astro/components/Image.astro";
import YearButton from "../../components/Arts/YearButton.astro"
import Layout from "../../layouts/Layout.astro"

interface Props {
    pictures: Record<string, any>[]
}

const prop = Astro.props;
---

<Layout>
  <div class="mx-auto max-w-[96rem] px-10 py-10 space-y-4 text-white gap-10">
    <div class="bg-midnight rounded-lg flex gap-4 justify-evenly">
      <a href="/arts" class="w-full">
        <button class="w-full hover:bg-midnight-light duration-300 py-4 rounded-lg font-bold text-3xl">All</button>
      </a>
      <YearButton year={2024}/>
      <YearButton year={2023}/>
      <YearButton year={2022}/>
      <YearButton year={2021}/>
      <YearButton year={2020}/>
      <YearButton year={2019}/>
    </div>
    <div class="w-full grid gap-2 grid-cols-1 mx-40 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6">
    {
      prop.pictures?.reverse().map(x => {
        // @ts-ignore
        return <Image src={x} format="webp" alt="ArtForm"/>
      })
    }
    </div> 
  </div>
</Layout>

