---
import SkillsIcon from "./SkillsIcon.astro"
---

<div class="w-full text-white p-10">
  <div class="bg-gray-800 rounded-lg p-4 gap-4 flex flex-col">
    <p class="text-center font-bold text-3xl">Skills and Experiences</p>
    <div class="bg-gray-900 rounded-lg p-4 justify-center flex-wrap flex gap-3">
      <SkillsIcon name="godot-dark"/>
      <SkillsIcon name="cs"/>
      <SkillsIcon name="dotnet"/>
      <SkillsIcon name="html"/>
      <SkillsIcon name="css"/>
      <SkillsIcon name="typescript"/>
      <SkillsIcon name="react-dark"/>
      <SkillsIcon name="svelte"/>
      <SkillsIcon name="astro"/>
      <SkillsIcon name="tailwindcss-dark"/>
      <SkillsIcon name="neovim-dark"/>
      <SkillsIcon name="lua-dark"/>
      <SkillsIcon name="java-dark"/>
      <SkillsIcon name="haxe-dark"/>
      <SkillsIcon name="rust"/>
      <SkillsIcon name="tauri-dark"/>
      <SkillsIcon name="cpp"/>
      <SkillsIcon name="mysql-dark"/>
      <SkillsIcon name="debian-dark"/>
      <SkillsIcon name="arch-dark"/>
      <SkillsIcon name="androidstudio-dark"/>
    </div>
  </div>

</div>