---
import SkillsIcon from "./SkillsIcon.astro"
---

<div class="w-full text-white">
  <div class="bg-gray-800 rounded-lg p-4 gap-4 grid">
    <p class="text-center font-bold text-3xl select-none">Skills and Experiences</p>
    <div class="grid lg:grid-cols-2 gap-4">
      <div class="bg-gray-900 rounded-lg p-4 justify-center sm:justify-start max-md:max-h-[340px] overflow-auto no-scrollbar flex-wrap flex gap-3">
        <SkillsIcon name="godot-dark"/>
        <SkillsIcon name="cs"/>
        <SkillsIcon name="dotnet"/>
        <SkillsIcon name="html"/>
        <SkillsIcon name="css"/>
        <SkillsIcon name="typescript"/>
        <SkillsIcon name="react-dark"/>
        <SkillsIcon name="svelte"/>
        <SkillsIcon name="astro"/>
        <SkillsIcon name="tailwindcss-dark"/>
        <SkillsIcon name="neovim-dark"/>
        <SkillsIcon name="lua-dark"/>
        <SkillsIcon name="java-dark"/>
        <SkillsIcon name="haxe-dark"/>
        <SkillsIcon name="rust"/>
        <SkillsIcon name="tauri-dark"/>
        <SkillsIcon name="cpp"/>
        <SkillsIcon name="php-dark"/>
        <SkillsIcon name="mysql-dark"/>
        <SkillsIcon name="debian-dark"/>
        <SkillsIcon name="arch-dark"/>
        <SkillsIcon name="androidstudio-dark"/>
      </div>

      <div class="bg-gray-900 rounded-lg p-4 space-y-5">
        <div class="flex justify-center items-center gap-4">
          <SkillsIcon name="cs"/>
          <p class="font-bold">C-Sharp is my most used programming language</p>
        </div>
        <div class="justify-center flex gap-3">
          <p>Despite my lots of experience in programming, C# is my most used languages and is also my first language to master. 
            <br/>
            Have used it for creating my games, as well as my game engine called Riateu and most of CLI Tooling.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>