---
import SkillsIcon from "./SkillsIcon.astro"
---

<div class="w-full text-white bg-gray-800 rounded-lg p-4 gap-4 grid">
  <p class="text-center font-bold text-3xl select-none">Skills and Experiences</p>
  <div class="grid lg:grid-cols-2 gap-4">
    <div class="bg-gray-900 rounded-lg p-4 justify-center sm:justify-start max-md:max-h-[340px] overflow-auto no-scrollbar flex-wrap flex gap-3">
      <SkillsIcon name="C#" iconName="cs"/>
      <SkillsIcon name="Dotnet" iconName="dotnet"/>
      <SkillsIcon name="Zig" iconName="zig-dark"/>
      <SkillsIcon name="HTML" iconName="html"/>
      <SkillsIcon name="CSS" iconName="css"/>
      <SkillsIcon name="TypeScript" iconName="typescript"/>
      <SkillsIcon name="React" iconName="react-dark"/>
      <SkillsIcon name="Svelte" iconName="svelte"/>
      <SkillsIcon name="Astro" iconName="astro"/>
      <SkillsIcon name="Tailwind CSS" iconName="tailwindcss-dark"/>
      <SkillsIcon name="Neovim" iconName="neovim-dark"/>
      <SkillsIcon name="Lua" iconName="lua-dark"/>
      <SkillsIcon name="Java" iconName="java-dark"/>
      <SkillsIcon name="Tauri" iconName="tauri-dark"/>
      <SkillsIcon name="C++" iconName="cpp"/>
      <SkillsIcon name="Red Hat" iconName="redhat-dark"/>
      <SkillsIcon name="Debian" iconName="debian-dark"/>
      <SkillsIcon name="Arch Linux" iconName="arch-dark"/>
      <SkillsIcon name="Rust" iconName="rust"/>
      <SkillsIcon name="Godot" iconName="godot-dark"/>
      <SkillsIcon name="Android Studio" iconName="androidstudio-dark"/>
    </div>

    <div class="bg-gray-900 rounded-lg p-4 space-y-5">
      <div class="flex justify-center items-center gap-4">
        <SkillsIcon name="C#" iconName="cs"/>
        <p class="font-bold">C# is my most used programming language</p>
      </div>
      <div class="justify-center flex gap-3 font-sans">
        <p>Despite my lots of experience in programming, C# is my most used languages and is also my first language to master. 
          <br/>
          Have used it for creating my games, as well as my game engine called Riateu and most of CLI Tooling.
        </p>
      </div>
    </div>
  </div>
</div>