---
import SkillsIcon from "./SkillsIcon.astro"
---

<div class="w-full text-white p-4 gap-4 grid">
  <p class="font-bold text-3xl select-none text-center md:text-end">Skills and Experiences</p>
  <div>
    <div class="p-4 justify-center md:justify-end max-md:max-h-[340px] overflow-auto no-scrollbar flex-wrap flex gap-3">
      <SkillsIcon name="C#" iconName="cs"/>
      <SkillsIcon name="Dotnet" iconName="dotnet"/>
      <SkillsIcon name="Zig" iconName="zig-dark"/>
      <SkillsIcon name="HTML" iconName="html"/>
      <SkillsIcon name="CSS" iconName="css"/>
      <SkillsIcon name="TypeScript" iconName="typescript"/>
      <SkillsIcon name="React" iconName="react-dark"/>
      <SkillsIcon name="Svelte" iconName="svelte"/>
      <SkillsIcon name="Astro" iconName="astro"/>
      <SkillsIcon name="Tailwind CSS" iconName="tailwindcss-dark"/>
      <SkillsIcon name="Neovim" iconName="neovim-dark"/>
      <SkillsIcon name="Lua" iconName="lua-dark"/>
      <SkillsIcon name="Java" iconName="java-dark"/>
      <SkillsIcon name="Godot" iconName="godot-dark"/>
    </div>
  </div>
</div>