---
import fs from 'path';
import { globImage } from "../../utils/image";
import Masonry from "../Masonry/Masonry.astro";
import { Item } from "../Masonry/Masonry";
import MasonryItemArt from "./MasonryItemArt.astro";

const pictures: ImageMetadata[] = (await globImage(import.meta.glob("/src/assets/webp_arts/**/*.webp"))).reverse().slice(0, 8);

const masonry = pictures.map((x, i) => {
  const loadType = i > 11 ? "lazy" : "eager";
  const baseName = fs.basename(x.src);
  const artworkName = baseName
    .split(".")[0]
    .substring(11)
    .replaceAll("_", " ");
  const year = baseName.split("-")[2].substring(0, 4)

  return {
    type: MasonryItemArt,
    props: { src: x, loadType, artworkName, year } 
  } satisfies Item<any>;
});
---

<div class="w-full text-white p-4 gap-4 flex flex-col">
  <p class="font-bold text-3xl select-none text-center md:text-start">Artworks</p>
    <span class="md:hidden">
      <Masonry items={masonry} gap={5} columns={2}/>
    </span>
    <span class="hidden md:block">
      <Masonry items={masonry} gap={5} columns={4}/>
    </span>
</div>