---
import Skills from '../components/Skills/Skills.astro';
import Layout from '../layouts/Layout.astro';
import Art from '../components/Arts/Art.astro';
import { Image } from 'astro:assets';

import dear_albireo from "../assets/webp_arts/2024/12-31-2024|Dear_Albireo.png.webp";
import AboutMe from '../components/AboutMe.astro';
import MetaImage from '../components/MetaImage.astro';
import Button from '../components/Button/Button.astro';
---

<Layout>
  <meta property="og:title" content="Teuria Website" slot="head"/>
  <MetaImage slot="head" source="og" src={dear_albireo}/>
  <meta property="og:description" content="This is Teuria's website for showcasing their arts, website, and developed games. It will also contain work in progress or preview stuff.
          There are also blogs that will be posted in the blog here." slot="head"/>

  <section class="w-full text-white">
    <article class="relative h-[100vh] bg-black/20">
      <div class="w-full h-full absolute object-cover inset-0 z-[-1]">
        <Image class="w-full h-full object-cover select-none" src={dear_albireo} alt="banner" draggable="false" loading="eager"/>
      </div>
      <div class="flex mx-auto max-w-[96rem] h-full items-center justify-center md:justify-start">
        <div class="grid gap-6 px-4">
          <p class="text-center font-deca font-extrabold text-2xl md:text-5xl">
            Welcome, I am Teuria!
          </p>
          <div class="grid gap-4">
            <p class="text-center md:text-start font-sans text-lg md:text-xl font-bold">
              Contains Artworks, Website, and Games. Blogs as well.
            </p>
            <div class="flex flex-col md:flex-row items-center gap-1">
              <Button theme="primary" href="/commission">
                Commission
              </Button>
              <Button theme="line" href="#about-me">
                About Me
              </Button>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <header class="mx-auto max-w-[96rem] px-5 lg:px-10 space-y-4 pb-4 mt-20">
    <div class="grid lg:grid-cols-2">
      <AboutMe/>
      <Skills/>
    </div>
    <Art/>
  </header>
</Layout>
