---
import LoginForm from "../components/@svelte-components/LoginForm.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="font-sans mx-auto max-w-[96rem] px-5 lg:px-10 space-y-10 py-20 pb-4">
    <LoginForm client:load/>
  </div>
</Layout>
