---
import { Icon } from "astro-icon/components";
import Link from "../components/Markdown/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="font-sans mx-auto max-w-[96rem] px-5 lg:px-10 space-y-10 py-20 pb-4">
    <form id="form" class="grid gap-4">
      <label>
        <p class="email">Username: <span class="text-red-400">*</span></p>
        <input name="username" type="text"/>

        <p class="email">Email: <span class="text-red-400">*</span></p>
        <input name="email" type="text"/>

        <p class="email">Password: <span class="text-red-400">*</span></p>
        <input name="password" type="password"/>

        <p class="email">Confirm Password: <span class="text-red-400">*</span></p>
        <input name="confirmation" type="password"/>
      </label>

      <p>Have an account already? <Link samePage href="/login">Click here to login</Link></p>
      <div>
        <button
          id="input-submit"
          class="hover:bg-green-400 bg-green-600 duration-300 
          text-white px-8 py-4 text-xl rounded-xl cursor-pointer disabled:bg-green-950 disabled:cursor-not-allowed w-[137px]">
          <p class="flex justify-center" id="shadow-root">
            <Icon class="w-8 h-8" name="svg-spinners:3-dots-fade"/>
          </p>
          <p class="flex justify-center" id="replacement"></p>
        </button>
      </div>
      <p id="result"></p>
    </form>
  </div>

  <script>
    const result = document.getElementById("result");
    const form = document.getElementById("form") as HTMLFormElement | null;
    const input = document.getElementById("input-submit") as HTMLInputElement | null;
    const shadowRoot = document.getElementById("shadow-root");
    const replacement = document.getElementById("replacement");
    shadowRoot!.attachShadow({ mode: "open" });
    replacement!.innerHTML = "Register";

    form?.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      input!.disabled = true;
      replacement!.innerHTML = shadowRoot!.innerHTML;

      const resp = await fetch("/api/register", {
        method: "POST",
        body: formData,
      });
      input!.disabled = false;
      replacement!.innerHTML = "Register";

      if (!resp.ok) {
        const error = await resp.json();
        if (error) {
          result!.innerText = error.message;
        } else {
          result!.innerText = "Something is incorrect";
        }
        result!.className = "text-red-500";
      } else {
        result!.innerText = "Registered successfully! Please check your inbox (or spam) in your email to verify your account."
        result!.className = "text-green-500";
      }
    })

  </script>
</Layout>

<style>
  label {
    display: flex;
    flex-direction: column;
    color: white;
  }

  input[type=text], input[type=password] {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: var(--col-midnight-light);
  }
</style>