---
import Layout from "../layouts/Layout.astro";
import RegisterForm from "../components/@svelte-components/RegisterForm.svelte";
---

<Layout>
  <div class="font-sans mx-auto max-w-[96rem] px-5 lg:px-10 space-y-10 py-20 pb-4">
    <RegisterForm client:load/>
  </div>
</Layout>
