---
import { verifyToken, jwtVerify } from "../../lib/auth";
import { Icon } from "astro-icon/components";

export const partial = true;
export const prerender = false;

const tokenVerified = await verifyToken(Astro.request);
let isVerified = false;

if (tokenVerified) {
  try {
    await jwtVerify(tokenVerified as string, import.meta.env.JWT_SECRET_KEY);
    isVerified = true;
  } catch (err) {}
}

---

{
  isVerified
  ?
  <div class="user">
    <Icon class="icon" name="ph:user-circle-fill"/>
  </div>
  :
  <div class="unregistered">
    <a href="/register" class="register-btn">
      Register
    </a>
    <a href="/login" class="login-btn">
      Login
    </a>
  </div>
}
