---
import Link from "../../components/Markdown/Link.astro";

export const partial = true;
export const prerender = false;

const isExpired = (Astro.locals as any).expired;
let name: string = "";
if (!isExpired) {
  const user = (Astro.locals as any).user;
  if (!user) {
      name = "Guest";
  } else {
      name = user.tokenUser.username;
  }
}

---

<p class="py-4 text-gray-500">
  {
    isExpired ? <>Your session expired. Please <Link href="/login" samePage>Login here</Link> again.</>
      : <>
        You are currently login as <strong>{name}</strong>.
        {
          name === "Guest" ? <Link href="/login" samePage>Login here.</Link> : null
        }
      </>
  }
</p>