---
import { Icon } from "astro-icon/components";
import FormattedDate from "../../components/FormattedDate.astro";
import { Messages } from "../../lib/mongodb";

export const partial = true;
export const prerender = false;

const slug = Astro.url.searchParams.get("slug");

const messageDoc = await Messages();
const messages = await messageDoc.find({ art: slug }).toArray();

---
<!-- Let's used the JSX one, it might be optimized that way.. -->
{
  messages.map(x => (<div class="message flex justify-between">
    <div>
      <span class="text-gray-500 text-sm"><FormattedDate date={x.date}/></span>
      <p>{x.text}</p>
    </div>

    <div class="text-center">
      <button hx-post={`/api/upvote?message=${x._id}`}>
        <Icon class="w-4 h-4" name="ph:arrow-fat-line-up"/>
      </button>
      <p>0</p>
      <button hx-post={`/api/downvote?message=${x._id}`}>
        <Icon class="w-4 h-4" name="ph:arrow-fat-line-down"/>
      </button>
    </div>

  </div>))
}