---
import FormattedDate from "../../components/FormattedDate.astro";
import { Messages } from "../../lib/mongodb";

export const partial = true;
export const prerender = false;

const slug = Astro.url.searchParams.get("slug");

const messageDoc = await Messages();
const messages = (await messageDoc.find({ art: slug }).toArray()).sort((x, y) => y.date - x.date);
---
<p>Comments: ({messages.length})</p>
{
  messages.map((x: any) => (<div class="mx-2 message flex gap-5 items-center">
    <div>
      <h1 class={`font-bold text-lg ${x.owner === "Guest" ? "text-gray-400" : ""}`}>{x.owner}</h1>
      <span class="text-gray-500 text-sm"><FormattedDate date={x.date}/></span>
      <p>{x.text}</p>
    </div>
  </div>))
}