---
export const partial = true;
export const prerender = false;

const kv = Astro.locals.runtime?.env.commission;

let disabled: boolean | undefined = !kv ? true : await kv.get("enabled") === "false";
---

<div>
  <input disabled
    id="btn-submit"
    type="submit" value={disabled ? "Sorry, its closed" : "Order"} title={disabled ? "Commission is currently closed" : null}/>
</div>


<style is:inline>
  input {
    transition: 300ms;
    color: white;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(22 101 52);
  }

  input:disabled, 
  input:disabled:hover {
    color: gray;
    background-color: rgb(66 66 88);
    cursor: not-allowed;
  }

  input:hover {
    background-color: rgb(74 222 128)
  }
</style>