---
const props = Astro.props;

const slot = await Astro.slots.render('default');
const slotID = slot.toLowerCase().replaceAll(" ", "_");
---

<a href={"#" + slotID}>
    <h1 id={slotID} {...props} class="font-bold text-3xl py-4"><span class="text-gray-600 text-opacity-75">#</span> <slot/></h1>
</a>
