---
const props = Astro.props;
props.style.backgroundColor = undefined;
---

<div class="overflow-x-auto w-full border-gray-700 border-2">
  <pre class="bg-midnight p-2 overflow-x-auto text-sm lg:text-md" {...props}><slot/></pre>
</div>