---
interface Props {
  link: string
}

const { link } = Astro.props;
---

<a class="flex justify-center" href={link}>
  <button class="font-bold select-none duration-300 hover:text-cyan-400">
    <slot/>
  </button>
</a>
