---
import NavButton from "./NavButton.astro";
import TeIcon from "../Svg/TeIcon.astro";
import NavBurger from "./NavBurger.astro";
import NavBurgerItem from "./NavBurgerItem.astro";
---

<nav id="keep" class="w-full text-white sticky top-0 z-20 px-2 shadow-xl border-b-2" flamethrower-preserve>
  <div class="mx-auto max-w-[96rem] flex justify-between font-cantarell">
    <a href="/" class="flex items-center gap-4 font-bold cursor-pointer">
      <TeIcon class="w-12 h-12 p-1"/>
      <p>TEURIA</p>
    </a>
    <div class="hidden md:flex">
      <NavButton link="/posts">Blogs</NavButton>
      <NavButton link="/arts">Arts</NavButton>
      <NavButton link="/games">Games</NavButton>
      <NavButton link="/labs">Labs</NavButton>
      <auth-nav></auth-nav>
    </div >
    <div class="flex md:hidden">
      <NavBurger>
        <NavBurgerItem link="/posts">Blogs</NavBurgerItem>
        <NavBurgerItem link="/arts">Arts</NavBurgerItem>
        <NavBurgerItem link="/games">Games</NavBurgerItem>
        <NavBurgerItem link="/labs">Labs</NavBurgerItem>
      </NavBurger>
    </div>
  </div>
</nav>

<style>
  nav {
    --col-midnight-transparent: #1f222b88;
    --col-midnight-light-transparent: #33324b88;
    background-image: linear-gradient(70deg, var(--col-midnight-transparent), 75%, var(--col-midnight-light-transparent) 100%);
    backdrop-filter: blur(1rem);
    border-color: #5bbde4;
  }
</style>
