---
import { Icon } from "astro-icon/components";
import NavButton from "./NavButton.astro";
---

<nav class="w-full bg-midnight flex gap-4 text-white ">
  <Icon name="ph:book-bold" class="w-12 h-12 p-3"/>
  <NavButton link="/">Home</NavButton>
  <NavButton link="/teurian/arts">Arts</NavButton>
  <NavButton link="/teurian/games">Games</NavButton>
  <NavButton link="/teurian/contacts">Contacts</NavButton>
</nav>