---
interface Props {
  link: string;
}

const { link } = Astro.props;
---

<a
  class="flex font-bold justify-center items-center min-w-16 navbutton hover:text-black"
  href={link}
>
  <slot />
</a>

<style>
  .navbutton {
    position: relative;
    transition: 300ms;
    --scale-y: 0;
  }

  .selected {
    --scale-y: 1;
  }

  .navbutton::after {
    transition: 300ms;
    content: "";
    position: absolute;
    inset: 0 -1px;
    z-index: -1;
    transform: skew(-10deg) scaleY(var(--scale-y));
    background-color: #5bbde4;
    opacity: var(--scale-y);
  }

  .navbutton:hover::after {
    background-color: #93edf3;
  }

  a:hover:not(.selected) {
    --scale-y: 1;
  }
</style>
