---
import { Icon } from 'astro-icon/components';

interface Props {
  title: string
}

const props = Astro.props;
---

<details class="flex justify-center items-center min-w-16 rounded-full hover:bg-midnight-light duration-300">
  <summary class="cursor-pointer flex justify-center items-center font-bold select-none h-[48px] duration-300 gap-1">
    <Icon class="w-10 h-10" name="ph:list-bold"/>
  </summary>
  <div class="popover py-2 absolute left-[100%] w-full bg-midnight">
    <slot/>
  </div>
</details>

<style>
  .popover {
    transform: translate(-100%);
  }
</style>