---
import { Icon } from 'astro-icon/components';
---

<div class="flex justify-center">
  <button id="btn-open" class="flex justify-center items-center cursor-pointer">
    <Icon class="w-10 h-10" name="ph:list-bold"/>
  </button>
  <div id="slot" class="absolute left-0 mt-12 w-full duration-300 -translate-y-80 select-none 
    data-[opened]:translate-y-0
    data-[opened]:bg-black/80
    data-[opened]:select-auto"
  >
    <slot/>
  </div>
</div>

<script is:inline lang="js">
  const btn = document.getElementById("btn-open");
  const slot = document.getElementById("slot");
  btn.addEventListener("click", () => {
    const navigation = document.getElementById("navigation");
    if (slot.getAttribute("data-opened") != null) {
      navigation.removeAttribute("data-opened");
      slot.removeAttribute("data-opened");
    }
    else {
      navigation.setAttribute("data-opened", "");
      slot.setAttribute("data-opened", "");
    }
  });
</script>