---
import { Icon } from "astro-icon/components";
import NavButton from "./NavButton.astro";
---

<nav class="w-full bg-midnight text-white sticky top-0">
  <div class="mx-auto max-w-[96rem] flex gap-4">
    <Icon name="ph:book-bold" class="w-12 h-12 p-3"/>
    <NavButton link="/">Home</NavButton>
    <NavButton link="/arts">Arts</NavButton>
    <NavButton link="/games">Games</NavButton>
    <NavButton link="/posts">Blogs</NavButton>
  </div>
</nav>