---
import NavButton from "./NavButton.astro";
import TeIcon from "../Svg/TeIcon.astro";
import NavBurger from "./NavBurger.astro";
import NavBurgerItem from "./NavBurgerItem.astro";
---

<nav id="keep" class="w-full text-white sticky top-0 z-20 px-2 shadow-xl md:border-b-2 bg-midnight">
  <div class="mx-auto max-w-[96rem] flex justify-between font-deca">
    <a href="/" class="flex items-center gap-4 font-bold cursor-pointer [&>*]:duration-300 [&_svg]:hover:rotate-45 [&_span]:hover:translate-x-[-4px] [&_span]:hover:skew-x-0">
      <TeIcon class="te-icon w-12 h-12 p-1"/>
      <span class="te-title translate-x-[-16px] skew-x-[-12deg]">TEURIA</span>
    </a>
    <div class="md:flex hidden ">
      <NavButton link="/commission">Commission</NavButton>
      <NavButton link="/posts">Blogs</NavButton>
      <NavButton link="/arts">Arts</NavButton>
      <NavButton link="/games">Games</NavButton>
    </div >
    <div class="flex md:hidden">
      <NavBurger>
        <NavBurgerItem link="/commission">Commission</NavBurgerItem>
        <NavBurgerItem link="/posts">Blogs</NavBurgerItem>
        <NavBurgerItem link="/arts">Arts</NavBurgerItem>
        <NavBurgerItem link="/games">Games</NavBurgerItem>
      </NavBurger>
    </div>
  </div>
</nav>

<style>
  @media (min-width: 768px) {
    nav {
      --col-midnight-transparent: #1f222b88;
      --col-midnight-light-transparent: #33324b88;
      background-image: linear-gradient(70deg, var(--col-midnight-transparent), 75%, var(--col-midnight-light-transparent) 100%);
      backdrop-filter: blur(1rem);
      border-color: #5bbde4;
      background-color: transparent;
    }
  }
</style>
