<section class="text-white" id="about-me">
  <div class="p-4 flex gap-4 flex-col items-center md:items-start">
    <div class="z-10">
      <a href="#about-me" class="font-bold text-3xl">About Me</a>
    </div>
    <article>
      <p class="text-xl font-sans text-center md:text-left">Hello, I am Teuria! also known as Terria. I am second year college student, and
      I make arts and games whenever I feel like it.
      I am known as a C# programmer, and has huge project such as FortRise, a mod loader for TowerFall.
      I also have a lot of experiences in arts and I do had a lot of them. 
      </p>
    </article>
  </div>
</section>
