<div class="py-20 text-white max-w-[60rem]" id="about-me">
  <div class="p-4 rounded-xl flex gap-4 flex-col items-center md:items-start">
    <div class="z-10">
      <a href="#about-me" class="font-bold text-2xl px-4 py-3 rounded-xl md:translate-x-[-18px] bg-gray-800 shadow-xl">About Me</a>
    </div>
    <div class="md:translate-x-8 translate-y-[-14px] bg-gray-800 p-2 rounded-xl shadow-xl">
      <p class="text-xl font-sans text-center md:text-left">Hello, I am Teuria! also known as Terria. I am 20 years old and first year college, and
      I make arts and games whenever I feel like it.
      I am known as a C# programmer, and has huge project such as FortRise, a mod loader for TowerFall.
      I also have a lot of experiences in arts and I do had a lot of them. 
      </p>
    </div>
  </div>
</div>
