---
import { Image } from "astro:assets"
import IconFooter from "./IconFooter.astro"
import terria from "../../assets/Terria.png"
import { Icon } from "astro-icon/components"
---

<footer class="w-full bg-midnight text-white text-lg p-4 py-10 flex flex-col items-center justify-center gap-4 font-deca">
  <div class="text-sm md:text-base text-gray-400 text-center">Found an issue with the website? <a href="https://github.com/Terria-K/terria-k.github.io/tree/master/src" class="text-cyan-400 underline" target="_blank">Fix it on Github</a></div>
  <div class="text-sm md:text-base text-gray-400 text-center">Want to contact me via email? <a href="mailto:hello@teuria.com" target="_blank" class="text-white font-bold">hello@teuria.com</a></div>

  <div class="flex gap-3 items-center text-gray-400">
    <IconFooter icon="discord" link="https://discord.gg/5sg7jVdhVW"/>
    <IconFooter icon="github" link="https://github.com/Terria-K"/>
    <IconFooter icon="youtube" link="https://www.youtube.com/@Terria-K/featured"/>
    <IconFooter icon="twitter" link="https://twitter.com/TeuriaKat"/>
  </div>


  <div class="text-base flex gap-1 text-gray-400">
    <a href="/posts">Blogs</a>|<a href="/arts">Arts</a>|<a href="/games">Games</a>|<a href="/commission">Commission</a>|<a href="/posts/tags">Tags</a>
  </div>


  <div>
    <p class="w-full font-bold text-gray-200 gap-1 text-center">
      BUY ME A <a target="_blank" href="https://ko-fi.com/terriakatsura" class="text-cyan-400 underline">Ko-fi</a> <Icon class="inline w-6 h-6" name="simple-icons:kofi"/>
    </p>
  </div>


  <div class="flex gap-3 items-center">
    <Image class="w-10 h-10 rounded-full" src={terria} alt="terria"/>
    <p class="text-gray-400 select-none text-sm">&copy 2025 Terria Katsura</p>
  </div>
</footer>
