---
import IconFooter from "./IconFooter.astro"
---

<div class="flex justify-between w-full bg-midnight absolute bottom-0 text-white text-lg p-4">
  <div class="flex gap-3 items-center">
    <img class="w-10 h-10 rounded-full" src="/arts/Terria.png"/>
    <p class="text-gray-400 select-none">Copyright &copy Terria Katsura 2024</p>
  </div>

  <div class="flex gap-3 items-center">
    <IconFooter icon="discord" link="https://discord.gg/5sg7jVdhVW"/>
    <IconFooter icon="github" link="https://github.com/Terria-K"/>
    <IconFooter icon="youtube" link="https://www.youtube.com/@Terria-K/featured"/>
  </div>
</div>