---
interface Props {
    tag: string
}

const prop = Astro.props;
---

<div class="flex flex-row gap-2 text-sm font-sans">
  <div class="flex">
    <a class="hover:bg-midnight-light duration-300 bg-slate-500 px-2 py-1 rounded-full" href={`/posts/tags/${prop.tag}`}>
      #{prop.tag}
    </a>
  </div>
</div>