---
import YearButton from "../components/Arts/YearButton.astro"
import Image from "astro/components/Image.astro";
import Layout from "./Layout.astro"

import fs from 'path';
import { sha256 } from "../utils/sha256";

interface Props {
  year: string,
  pictures: ImageMetadata[]
}

const prop = Astro.props;
---

<Layout>
  <div class="mx-auto max-w-[96rem] px-10 py-10 space-y-4 text-white gap-10">
    <div class="bg-midnight rounded-lg flex flex-col md:flex-row gap-4 justify-evenly overflow-x-auto">
      <a href="/arts" class="w-full">
        <button class=`w-full hover:bg-midnight-light duration-300 py-4 rounded-lg font-bold text-3xl ${prop.year === "All" ? "bg-midnight-light" : ""}`>
          All
        </button>
      </a>
      <YearButton year={2024} selected={prop.year === "2024"}/>
      <YearButton year={2023} selected={prop.year === "2023"}/>
      <YearButton year={2022} selected={prop.year === "2022"}/>
      <YearButton year={2021} selected={prop.year === "2021"}/>
      <YearButton year={2020} selected={prop.year === "2020"}/>
      <YearButton year={2019} selected={prop.year === "2019"}/>
    </div>
    <div class="w-full flex justify-center">
      <div class="gap-2 grid-cols-1 flex flex-wrap justify-center">
        {
          prop.pictures.reverse().map(async (x, i) => {
            const loadType = i > 11 ? "lazy" : "eager";
            const artworkName = await sha256(fs.basename(x.src).split('.')[0]);
            return <a href={`/arts/works/${artworkName}`} class="max-w-80 h-30 cursor-pointer"> 
                <Image src={x} alt={artworkName} format="webp" loading={loadType}/>
              </a>
          })
        }
      </div> 
    </div>

  </div>
</Layout>

