---
import Footer from '../components/Footer/Footer.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import GlobalStyleLayout from './GlobalStyleLayout.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A Teuria's portfolio contains all of games and collection of arts that been made." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Teuria Website</title>
    <slot name="head"/>
    <script>
      import Comment from "../components/@svelte-components/comment-body.svelte";
      import flamethrower from "flamethrower-router";
      flamethrower({});
    </script>
  </head>
  <GlobalStyleLayout/>
  <body>
    <Navbar/>
    <div class="min-h-screen">
      <slot />
    </div>
    <Footer/>
  </body>
</html>