---
import { Icon } from 'astro-icon/components';
import Footer from '../components/Footer/Footer.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import GlobalStyleLayout from './GlobalStyleLayout.astro';

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Terria's Website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Teuria Website</title>
	</head>
	<body class="text-white h-full">
		<Navbar/>
    <div class="flex ml-4 mr-4 mt-7 md:mr-24 md:ml-24 md:mt-20">
      <a href="/posts" class="duration-300 cursor-pointer hover:text-cyan-400 flex gap-4 items-center">
        <Icon class="w-8 h-8" name="ph:arrow-square-left-fill"/>
        <p>
          Back
        </p>
      </a>

    </div>
    <div class="m-6 md:m-32 lg:m-32 xl:m-96 md:mt-4 lg:mt-4 xl:mt-4 mb-0">
      <h2 class="font-bold text-xl md:text-5xl text-gray-400">{frontmatter.date}</h2>
      <h1 class="font-bold text-2xl md:text-6xl">{frontmatter.title}</h1>
      <p class="md:text-2xl text-gray-400 mt-4">{frontmatter.description}</p>
      <div class="md:text-xl mt-4 min-h-screen md:min-h-[50vh] mb-4">
        <slot />
      </div>
    </div>
		<Footer/>
	</body>
</html>
<GlobalStyleLayout/>