@tailwind utilities;


@layer utilities {
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.masonry-sm {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: masonry;
}

.masonry-md {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
}

.masonry-lg {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
}
}