---
import { Icon } from "astro-icon/components";
import Accordion from "../Accordion/Accordion.astro";
import If from "../ControlFlow/If.astro";
import Button from "../Button/Button.astro";

interface Props {
  title: string,
  url: string,
  icon: string,
  hasDerivedPages?: boolean
}


const props = Astro.props;
---

<div class="bg-midnight-light px-4 mx-auto flex flex-col rounded-xl">
  <div class="grid md:grid-cols-2 justify-center items-center text-center">
    <div class="flex justify-center">
      <Icon class="w-40 h-auto" name={props.icon}/>
    </div>
    <div class="flex flex-col mx-4 my-2">
      <h2 class="font-bold text-xl md:text-2xl">{props.title}</h2>
      <p class="text-sm md:text-lg"><slot name="description"/></p>
      <Button theme="secondary" href={props.url}>
        Visit
      </Button>
    </div>
  </div>

  <If when={props.hasDerivedPages}>
    <Accordion title="Show derived pages">
      <slot/>
    </Accordion>
  </If>
</div>